* {
    /* border: 1px solid black; */
    margin: 0;
    scroll-behavior: smooth;
}

h1,h2,h3 {
    color: #212121;
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-weight: 600;
    line-height: 78px;
    margin-top: 0;
    margin-bottom: 30px;
}

h2 {
    align-self: flex-start;
    font-weight: 500;
    font-size: 48px;
    line-height: 20px;
}

h3 {
    font-weight: 500;
    font-size: 48px;
    line-height: 28px;
    letter-spacing: 8%}

p {
    color: #646464;
    font-size: 18px;
    font-weight: 400;
    margin: .5rem 0;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #646464;
}

p.active {
    color: #fff;
}

button {
    cursor: pointer;
    transition: .5s;
}

button:hover {
    border-radius: .25rem .25rem .25rem .25rem;
    transition: .5s;
    transform: scale(1.05);
    box-shadow: 0px 0px 20px lightgrey;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    z-index: 1;
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: white 0.5;
    backdrop-filter: blur(10px);
}

.header__container {
    width: 1355px;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

.button__first {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #37806B;
    text-transform: uppercase;
    border: 0px;
    border-radius: 20px 0 20px 0;
    padding: 10px 25px;
    margin-top: 40px;
}

nav {
    width: 820px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.menu__item {
    text-decoration: none;
    color: #111111;
    transition: .25s;
}

.menu__item:hover {
    scale: 1.05;
    color: #646464;
    transition: .25s;
}

.sign__up {
    background-color: #CAA892;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 7px 20px;
    margin-left: 10px;
    border: 0px;
    border-radius: 1rem 0 16px 0;
}





.project {
    margin-top: 175px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 1360px;
    position: relative;
    background-image: url(./media/Dots.svg);
    background-size: 100px;
    background-position: left bottom;
}

.project__left {
    width: 45%;
    height: auto;
}

.theme__p {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
    align-self: flex-start;
}

.theme__img__right {
    border-radius: 140px 0;
    box-shadow: #f8f8f8 15px 15px 0px -2px, #B0855B 15px 15px;
}

.theme__img__left {
    /* width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px 0; */
    width: 100%;
    border-radius: 100px 0;
    box-shadow: #f8f8f8 15px 15px 0px -2px, #B0855B 15px 15px;
}





.service {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1360px;
    /* height: 50vh; */
}

.arrows {
    display: inline-flex;
    align-self: flex-end;
    gap: 20px;
    margin-bottom: 20px;
}

/* .arrow__img {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: .5s;
}

.arrow__img:hover {
    background-color: lightgrey;
    transition: .5s;
} */

.caret {
    fill: #646464;
    border-radius: 50%;
    background-color: white;
    padding: 6px;
    cursor: pointer;
    box-shadow: -2px 2px 10px lightgray;
    transition: .5s;
}

.caret:hover {
    fill: white;
    border-radius: 50%;
    background-color: #37806B;
    transition: .5s;
}


.service__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

.sevice__poster {
    display: inline-flex;
    align-items: flex-start;
    box-shadow: 0 10px 20px lightgrey;
    padding: 30px 20px;
    border-radius: 3em 0;
}

.sevice__poster.active {
    background-color: #CAA892;
}

.service__img {
    margin: 0 10px;
}

.service__img.active {
    filter: invert(1);
}

.service__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.p__service {
    font-weight: 700;
    font-size: 24px;
    color: #212121;
    margin: 0;
}

.p__service.active {
    color: #fff;
}



.about {
    margin-top: 5vh;
    padding-top: 15vh;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}

.theme__image__left {
    width: 50%;
    top: 0;
}

.theme__image__left__wrapper {
    margin-left: 4%;
    width: 95%;
    height: 95%;
    border-radius: 100px 0 100px 0;
    /* background-image: url(./media/Project.jpg); */
    /* background-size: cover; */
    position: relative;
}

.theme__image__left__wrapper::before {
    content: "";
    z-index: -10;
    width: 100%;
    height: 100%;
    border-radius: 100px 0 100px 0;
    border: 2px solid #B0855B;
    position: absolute;
    margin-top: -4%;
    margin-left: -4%;
}

.about2 {
    margin-top: 15vh;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}

.twenty {
    font-size: 288px;
    font-weight: bold;
    background: url(./media/20.jpg);
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* padding: 90px 0 110px 0; */
    line-height: 230px;
}

.h2__about2 {
    margin: 0;
}



.about3 {
    width: 100%;
    display: flex;
    margin-top: 10vh;
    background-color: #F8F8F8;
    flex-direction: column;
    align-items: center;
    padding: 8vh 0;
}

.about3__container {
    width: 1300px;
}

.h2__center {
    text-align: center;
}

.achievements {
    display: inline-flex;
    width: 100%;
    height: 270px;
    justify-content: space-between;
    align-items: center;
    padding-top: 8vh;
}

.achievement__wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 1rem 0;
    padding: 40px;
    box-shadow: 0 13px 16px #00000010;
    background-color: #fff;
    min-width: 120px;
}

.achievement__wrapper:nth-child(4n+1) {
    align-self: flex-start;
}

.achievement__wrapper:nth-child(4n+3) {
    align-self: flex-end;
}

.achievement__number {
    align-self: center;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
}

.achievement__title {
    align-self: center;
}

.achievement__connect__svg {
    position: relative;
    width: auto;
    width: 100%;
}

.achievement__connect__svg {
    stroke-dasharray: 10;
    stroke-dashoffset: 0;
    animation: dash 1s linear;
  }
  
@keyframes dash {
    0% {
        stroke-dashoffset: 10;
      }
    100% {
        stroke-dashoffset: 0;
    }
  }

.reviews {
    margin-top: 5vh;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1300px;
}

.theme__p__center {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.h2_center {
    align-self: center;
}

.reviews__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

.reviews__poster {
    display: inline-flex;
    align-items: center;
    box-shadow: 0 10px 20px lightgrey;
    padding: 30px 20px;
    border-radius: 3em 0;
    position: relative;
}

.quotes {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: 0;
    right: 20px;
    font-weight: 500;
    font-size: 100px;
    color: #B0855B;
    line-height: 130px;
}

.reviews__img {
    left: -65px;
    margin-right: 10px;
    border-radius: 40px 0;
    position: absolute;
}

.reviews__info {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.p__reviews {
    font-weight: 700;
    font-size: 24px;
    color: #212121;
    margin: 0 50px 0 0 ;
}

.p__reviews>span {
    font-weight: 400;
    font-size: 16px;
}



.news {
    width: 100%;
    display: flex;
    margin-top: 10vh;
    background-color: #F8F8F8;
    flex-direction: column;
    align-items: center;
    padding: 8vh 0;
}

.news__container {
    margin-top: 8vh;
    display: inline-flex;
    width: 1300px;
    gap: 5vw;
}

.news__wrapper {
    max-width: auto;
}

.news__img {
    width: 80%;
    border-radius: 100px 0;
    box-shadow: #f8f8f8 15px 15px 0px -2px, #B0855B 15px 15px;
    margin-bottom: 50px;
}

.p__news {
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
}



.newletter {
    margin-top: 5vh;
    padding: 10vh 0;
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    margin: 40px 0;
    color: #C4C4C4;
    width: 30%;
}

.newletter > p {
    width: 50%;
    text-align: center;
}

.form__newsletter {
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.form__input {
    background-color: #EEEEEE;
    border: 0;
    border-radius: 20px 0 0 0;
    margin: 0;
    padding: 15px;
    height: 40px;
    width: 90%;
    font-size: 18px;
}

.form__button {
    background-color: #37806B;
    border: 0;
    border-radius: 0 0 20px 0;
    margin: 0;
    padding: 0 10px;
    color: #fff;
    height: 70px;
    min-width: 180px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
}



footer {
    width: 100%;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__wrapper {
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10vh 0;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 350px;
}

.footer__logo > img {
    margin: 8px 0 4px 0;
}

.footer__smth {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
}

.footer__smth > p {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    color: #212121;
}

.footer__smth > a {
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    color: #646464;
    text-decoration: none;
}

.footer__smth > span {
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    color: #646464;
    text-decoration: none;
}

.footer__smth > span > a {
    color: #646464;
    text-decoration: none;
}

.footer__hr {
    align-self: center;
    width: 99.9%;
    border: 1px solid #C4C4C4;
    margin: 0;
}

footer > p {
    margin: 25px;
}

footer > p > span {
    color: #37806B;
}